<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983451094521-0rt2nd7r42gohh1u0n4ornfq8r1sh05u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983451094521-0rt2nd7r42gohh1u0n4ornfq8r1sh05u</string>
	<key>API_KEY</key>
	<string>AIzaSyAEVTmzmKHw2_q698a4veL1dL5ddzOSR-o</string>
	<key>GCM_SENDER_ID</key>
	<string>983451094521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-tutorial-2999c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tutorial-2999c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983451094521:ios:69a184a695d6cf88528128</string>
</dict>
</plist>